
.vs/Assignment2/v16/.suo
.vs/Assignment2/v16/Browse.VC.db
.vs/Assignment2/v16/ipch/AutoPCH/3d7fd9c9be74d3/CYLINDER.ipch
.vs/Assignment2/v16/ipch/AutoPCH/4172685e853c558/RAYTRACER.ipch
.vs/Assignment2/v16/ipch/AutoPCH/46f9545debbce5a7/PLANE.ipch
.vs/Assignment2/v16/ipch/AutoPCH/7c61ddb562232b09/TEXTUREBMP.ipch
.vs/Assignment2/v16/ipch/AutoPCH/a04d8d63ee731743/RAY.ipch
.vs/Assignment2/v16/ipch/AutoPCH/c9ab562ef68bd288/SPHERE.ipch
.vs/Assignment2/v16/ipch/AutoPCH/cc8bdbb539d27546/CONE.ipch
.vs/Assignment2/v16/ipch/AutoPCH/ea24e9a0fbd7479a/SCENEOBJECT.ipch
